<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageController using CollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA9EE8DB1D94E4C80035259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9EE8F41D94E4C80035259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9EE8FF1D94E4C80035259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
